<header>
    <h1>Best Books! </h1>
    <div class="dropdown"><button class="menu">
            <!-- <img src="./styles/overlay.png" alt=""> -->
        </button>
        <div class="dropdown-content">
            <a href="/">Home </a>
            <a href="/searches/new">Search The Google Book Api</a>
        </div>
    </div>
</header>